body {
    background-image: url(https://images.pexels.com/photos/1638280/pexels-photo-1638280.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}


.teaMenu{
    background-color: transparent;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: 600;
}

.teaMenu p{
    color: white;
    font-weight: 600;
}

.teaFlavor{
    text-align: left;
    width: 49%;
    display: inline-block;
    font-weight: 600;
}

.teaPrice{
    text-align: right;
    width: 49%;
    display: inline-block;
}

.teaItem p{
    background-color: yellow;
    width: 49%;
    display: inline-block;
    font-size: 18px;
    color: black;
}

.teaFlavor, .collectionPrice{
    background-color: blue;
    text-align: right;
    width: 25%;
}

